<!-- PAGE settings -->
<meta charset="UTF-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="description" content="한국교회사와 관련된 20,000여 책의 자료가 소장되어 있습니다.">
<meta name="keywords" content="한국교회사">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicon -->
<link href="favicon.ico" rel="shortcut icon" type="image/x-ico" />
<link href="favicon.ico" rel="icon" type="image/x-ico" />

<!-- CSS dependencies -->
<link rel="stylesheet" href="assets/css/wireframe.css">
<!--
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
 -->
